html, body {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  background-image: url('/static/images/bg.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

ul, li, ol {
  margin: 0;
  padding: 0;
}

.mm--h1 {
  font-size: 2rem;
}

.mm--h3 {
  font-size: 1.4rem;
}

.main {
  display: grid;
  grid-template-columns: 300px auto 300px;
  width: 100%;
}

.module {
  position: relative;
  text-align: center;
}

.module--content {
  padding-bottom: 0.9rem;
  text-align: left;
  font-size: 0.8rem;
}

.module--content p {
  margin: 0;
}

.module--content p:first-child {
  font-size: 1rem;
}

.module span {
  position: absolute;
  bottom: -30px;
  left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.6rem;
  text-align: left;
}

.mm-clock {
  text-align: center;
  padding-top: 1rem;
}

.mm-time {
  font-size: 6rem;
  line-height: 6rem;
}

.mm-clock-divider {
  animation: colorfade 1s linear infinite alternate;
}

.weather img {
  width: 200px;
  margin: -68px;
  padding: 1rem 0 0;
}

@keyframes colorfade {
  from {
    color: #fff;
  }
  to {
    color: #000;
  }
}