html, body {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  background-image: url('/static/images/bg.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

ul, li, ol {
  margin: 0;
  padding: 0;
}

.mm--h1 {
  font-size: 2rem;
}

.mm--h3 {
  font-size: 1.4rem;
}

.main {
  display: grid;
  grid-template-columns: 240px auto 240px;
  width: 100%;
}

.module {
  text-align: center;
}

.mm-clock {
  text-align: center;
  padding-top: 0.1rem;
}

.mm-time {
  font-size: 6rem;
  line-height: 6rem;
}

.mm-clock-divider {
  animation: colorfade 1s linear infinite alternate;
}

.weather {
  position: relative;
}

.weather img {
  width: 200px;
  margin: -68px;
}

.weather span {
  position: absolute;
  bottom: -30px;
  left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.6rem;
  text-align: left;
}

@keyframes colorfade {
  from {
    color: #fff;
  }
  to {
    color: #000;
  }
}